build/CMakeFiles/TestMake.dir/compiler_depend.internal
build/CMakeFiles/TestMake.dir/compiler_depend.make
build/CMakeFiles/TestMake.dir/main.cpp.obj
build/CMakeFiles/TestMake.dir/objects.a
build/TestMake.exe
build/TestMake.exe
build/CMakeFiles/TestMake.dir/compiler_depend.make
build/CMakeFiles/TestMake.dir/main.cpp.obj
build/CMakeFiles/TestMake.dir/objects.a
build/.cmake/api/v1/reply/codemodel-v2-5492fb1b30b8539d8fda.json
build/.cmake/api/v1/reply/codemodel-v2-ee0160a637dbcf2db3c0.json
build/.cmake/api/v1/reply/index-2021-08-11T12-07-30-0599.json
build/.cmake/api/v1/reply/index-2021-08-11T12-14-27-0297.json
build/.cmake/api/v1/reply/target-TestMake-Debug-40e6312f2ec266a26c34.json
build/.cmake/api/v1/reply/target-TestMake-Debug-aa99195904da9e941aca.json
build/CMakeFiles/TestMake.dir/includes_CXX.rsp
build/Testing/Temporary/LastTest.log
.gitignore
